
.proyectoAudio {
    h1{
        font-family: 'Quicksand', sans-serif;
        margin-left: 180px;
        padding-top: 80px;
        font-size: 50px;
        padding-bottom: 30px;
    } 
    p{
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 40px;
        margin-right: 20px;
        padding-top: 20px;
        font-size: 20px;
        padding-bottom: 30px;
    }
}

.proyecto1 {
    p{
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 40px;
    }
    iframe{
        margin-left: 1100px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.proyecto2 {
    p{
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 40px;
    }
    iframe{
        margin-left: 1100px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.proyecto3 {
    p{
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 40px;
    }
    iframe{
        margin-left: 1100px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.proyecto4 {
    p{
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 40px;
    }
    iframe{
        margin-left: 1100px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}