
#contacto{
    h1{
        font-family: 'Quicksand', sans-serif;
        margin-left: 180px;
        padding-top: 80px;
        font-size: 50px;
        padding-bottom: 30px;
        min-width: 300px;
    
    }
    p{
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 40px;
        margin-right: 20px;
        padding-top: 20px;
        font-size: 20px;
        padding-bottom: 30px;
    }
}

#datos {
    h3{
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 40px;
        margin-right: 20px;
        padding-top: 20px;
        font-size: 20px;
        padding-bottom: 30px;
    }
    form{
        margin-left: 40px;
        
    }
    form input{
        border-radius: 5px;
        margin-bottom: 20px;
        color: $colorTexto;
    }
    form textarea{
        border-radius: 5px;
        margin-bottom: 20px;
    
    }
    p{
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 40px;
        margin-right: 20px;
        padding-top: 20px;
        font-size: 20px;
        padding-bottom: 30px;
    }
    input{
        height: 30px;
        width: 300px;

    }
    textarea{
        height: 300px;
        width: 800px;
    }
    
}
