.tituloServicio{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 50px;
}

.servicios {
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    
    
    
    h2{
        font-family: 'Roboto Condensed', sans-serif;
        margin: 60px;
       
    }

    h3{
        font-family: 'Roboto Condensed', sans-serif;
        margin: 30px;
        text-align: center;
       
    }

  
    div{
        font-family: 'Roboto Condensed', sans-serif;
        padding: 0px 150px;
        border: 4px solid;
        border-radius: 8px;
        margin: 10px;
       
    }
    button a{
        text-decoration: none;
    }
    button{
        height: 35px;
        width: 190px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
    }
    img{
        text-align: center;
        border-radius: 8px;
        
    }
    

}

.serviciosdos {
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;

    h2{
        font-family: 'Roboto Condensed', sans-serif;
        margin: 60px;
       
    }
    h3{
        font-family: 'Roboto Condensed', sans-serif;
        margin: 30px;
        text-align: center;
       
    }
    div{
        font-family: 'Roboto Condensed', sans-serif;
        padding: 0px 150px;
        border: 4px solid;
        border-radius: 8px;
        margin: 10px;
       
    }
    button a{
        text-decoration: none;
    }
    button{
        height: 35px;
        width: 190px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
    }
    img{
        text-align: center;
        border-radius: 8px;
        
    }
    
}

.clientes {
    font-family: 'Quicksand', sans-serif;
    padding: 0px 150px;
    text-align: center;
    border: 7px solid;
    border-radius: 8px;
    margin: 100px;
    h2{
        text-align: center;
        padding: 40px 0px;
    }
    p{
        text-align: center;
        padding: 150px 150px;
    }
}