.intro {
    background-image: url(../img/consola.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    align-content: normal;
    min-width: 300px;

    & &__button {
        margin-top: 75px;
        margin-left: 150px;
        border-radius: 8px;
        backdrop-filter: blur(0.4rem);

    }
    h1{
        font-family: 'Quicksand', sans-serif;
        padding: 50px 150px;
        color: white;
        min-width: 300px;
    }
    h3{
        font-family: 'Quicksand', sans-serif;
        color: white ;
        padding: 0px 150px;
        min-width: 300px;
        
        
        
    }
    button a{
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        color: $colorPrincipal;
        display: inline-block;
        padding: 0px 10px;
        position: relative;
        min-width: 10px;
    
    }
}
