@mixin proyectos{
    p{
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 40px;
        margin-right: 40px;
    }
    iframe{
        
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 40px;
        width: 80%;
    }
}


@media (max-width: 412px){



    .educacion img{
        height: 160px;
        width: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 0px 60px;
       
        
        
    }

    .miFoto img{
        height: 400px;
        position: relative;
        left: 10px;
        padding-top: 100px;
        border-radius: 8px;
    }

    .mensaje p {
        
        margin-left: 10px;
        font-style: italic;
        font-size: x-large;
        padding-top: 50px;
        padding-bottom: 50px;
    
    }

    .tituloServicio {
        margin-left: 120px;
        

    }

    .servicios {
        display: inline-block;
        margin-left: 10px;
        div{
            padding: 30px;
            padding-top: 5px;
        }
    }
    .serviciosdos{
        display: inline-block;
        margin-left: 10px;
        div{
            padding: 30px;
            padding-top: 5px;
        }
    }

    .clientes {
        padding: 0px 0px;
        margin: 10px;
        
        ul li{
        padding: 0px;
        text-align: left;
        }
    }

    .intro {
        background-position: center;
        align-content: normal;
        h1{
            padding: 50px;
        }
        h3{
            padding: 2px 50px;
        }
        & &__button {
            margin-left: 130px;
        }
    }

    .proyectoAudio h1{
        margin-left: 40px;
    }

    .proyectoVideo h1{
        margin-left: 40px;
    }

    .proyecto1 {
        @include proyectos;
    }
    .proyecto2 {
        @include proyectos;
    }
    .proyecto3 {
        @include proyectos;
    }
    .proyecto4 {
        @include proyectos;
    }

    #contacto h1{
        margin-left: 40px;
    }

    .Proyecto1 {
        @include proyectos;
    }
    .Proyecto2 {
        @include proyectos;
    }
    .Proyecto3 {
        @include proyectos;
    }
    .Proyecto4 {
        @include proyectos;
    }
    #datos textarea {
        height: 300px;
        width: 300px;
    }

    
}
 