
#sobreMi {
    h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 50px;
        margin: 30px 50px;
    }    
    p {
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-size: 20px;
        margin: 0px 30px;
    }

}

.listaMi {
    ol li{
        font-family: 'Roboto Condensed', sans-serif;
        text-align: left;
        margin-left: 100px;
        font-size: 20px;    
    }
    ol{
        margin-top: 80px;
        margin-bottom: 40px;
    }

}

.educacion img{
    height: 200px;
    width: auto;
    display: inline-block;
    padding: 0px 60px;
    align-content: center;
}

.miFoto img{
    height: 400px;
    position: relative;
    left: 200px;
    padding-top: 100px;
}

.mensaje p {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 200px;
    font-style: italic;
    font-size: x-large;
    padding-bottom: 50px;

}