$colorPrincipal: #DDDBDA;
$colorSecundario: #F2F3F4;
$colorTexto: #895941;
$colorAlternativo: #1D1E5E;

@import 'footer';
@import 'header';
@import 'intro';
@import 'home';
@import 'sobre';
@import 'audio';
@import 'video';
@import 'hablemos';
@import 'media';

