$colorPrincipal: #537EF9;
$colorSecundario: #6C7794;


@import 'footer';
@import 'header';
@import 'intro';
@import 'home';
@import 'sobre';
@import 'audio';
@import 'video';
@import 'hablemos';
@import 'media';

@mixin proyectos{
    p{
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 40px;
    }
    iframe{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 40px;
    }
}

@keyframes efectoZoom{
    0% {
        width: 100%;
    }
    50% {
        width: 120%;

    }
    100% {
        with: 100%;

    }
}